@import url("../var.css");

.employeers-list {
  background-color: var(--main-bg-color);
  box-shadow: 10px 5px 5px rgb(145, 131, 131);
  padding: 15px 20px 20px;
  margin-top: 15px;
  color: var(--main-color);
  
}
