@import url("../var.css");

.app-filter {
  background-color: var(--main-bg-color);
  box-shadow: 10px 5px 5px rgb(145, 131, 131);
  padding: 15px 20px 20px;
  margin-top: 15px;
  color: var(--main-color);
}

.btns {
  background-color: var(--main-bg-color);
  border-radius: 5px;
  width: 520px;
  display: flex;
  justify-content: space-between;
}
.btn {
  text-align: start;
  background-color: rgb(92, 96, 99);
  font-size: 15px;
  height: 30px;
  width: 170px;
  color: #fff;
  border-radius: 3px;
  border: none;
  margin-bottom: 0;
  transition: all 0.3s;
}
.active {
  transition: all 0.3s;
  background-color: var(--main-bg-input-color);
  color: black;
}
